@import "../breakpoints.scss";

.categories-list {
  margin-top: 25px;
  flex-wrap: wrap;
  margin-bottom: 25px;
  @media screen and (min-width: $sm) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
