.food {
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;

  &__text {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;

    &__description {
      font-style: italic;
    }
    &__title {
      font-weight: bold;
    }
  }
  &__price {
    align-self: flex-end;
  }
}
