@import '../breakpoints.scss';
.news-list{
    flex-direction: column;
    &__title{
        font-size: 34px;
        font-weight: 900;
        margin: 100px auto 0;
    }
    margin-bottom: 100px;
    .news-list-container{
        flex-direction: column;
    }
    @media screen and(min-width:$sm) {
        .news-list-container{
            flex-direction:row;
        }
    }

}