@import "../breakpoints.scss";
.news-list {
  flex-direction: column;
  &__title {
    font-size: 34px;
    font-weight: 900;
    margin: 50px auto 0;
  }
  margin-bottom: 20px;
  .news-list-container {
    flex-direction: column;
  }
  @media screen and(min-width:$lg) {
    margin-bottom: 100px;
    &__title {
        margin: 100px auto 0;
      }

    .news-list-container {
      flex-direction: row;
    }
  }
}
