.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-big {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .container-big {
    padding-right: 10px;
    padding-left: 10px;}
}
@media (min-width: 992px) {
  .container {
    width: 970px;
    
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .container-big{
    width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container-big{
    width: 1400px;
  }
}
.flex {
  display: flex;
}

